<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
	<dict>
		<key>speed</key>
		<string>4</string>

		<key>spritename</key>
		<string>test_ship</string>

		<key>cancross</key>
		<string>false</string>

		<key>rspeed</key>
		<string>0.1</string>
	</dict>
</plist>